#tituloNombre{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#subtitulo{
    text-align: center;
}

#textoDebajoTitulo{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
#cuerpo{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

#columnaIZQUIERDA{
    width: 49%;
    text-align: center;
    
    
}

#columnaDERECHA{
    width: 49%;
    text-align: center;
        
}

.tituloDelTema{
    text-align: center;
    
    
}

.Titulaciones{
    text-align: left;
}

#lineaDivisoria{

    width: 30px;
    padding-right: 25%;
    padding-left: 25%;
}

#TextoTema{
    padding-left: 50px;
}

p{
    margin: 0;
}