#tituloNombre{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#subtitulo{
    text-align: center;
}

#textoDebajoTitulo{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
#cuerpo{

    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    margin-top: 50px;
}

#columnaIZQUIERDA{
    width: 49%;
    text-align: center;
       
    
}

#columnaDERECHA{
    width: 49%;
    text-align: center;
    margin-left: 0;
}

.tituloDelTema{
    text-align: center;
    
    
}

#habilidades{
    margin-top: 50px;
}

.Titulaciones{
    text-align: left;
}

#lineaDivisoria{

    width: 30px;
    padding-right: 25%;
    padding-left: 25%;
}

#subtitulo{
    margin: 0;
}

.TextoTema{
    margin-left: 140px;
}

.textoHabilidades{
    text-align: left;
    font-size: large;
    color: rgb(0, 102, 204);
    font-weight: bold; 
}

.hrHabilidades{
    width: 10px;
           
}